server:
  port: 9000



# mysql部分
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ai?useUnicode=true&characterEncoding=UTF8&zeroDateTimeBehavior=convertToNull&serverTimezone=GMT%2B8
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
  #redis
  redis:
    database: 0
    port: 6379
    password: 123456
    host: 127.0.0.1
# mybatis部分
mybatis:
  mapper-locations: classpath:/mapper/*.xml   #mapper文件地址
  config-location: classpath:sqlMapConfig.xml #配置模型路径
# 日志
logging:
  level:
    root: INFO
  file: E:/logs/ai/
  pattern:
    console: '%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{15}   %msg%n'
    file: '%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{15}   %msg%n'
